body{
    font-family: 'Montserrat';
    background-color: teal;
    color: white;
}

.container{
    padding-bottom: 20px;
}
.status{
    padding-top: 5%;
    padding-bottom: 5%;
}

h2, h3{
    font-weight: bold;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }
