body{
    font-family: 'Montserrat';
    background-color: teal;
    color: white;
    
}

.container{
    padding-bottom: 20px;
    padding-top: 50px;
}
.status{
    padding-bottom: 25px;
}

h2, h3{
    font-weight: bold;
}

th, td{
    color: white;
}

.rule-info{
    padding-top: 20px;
}

.greenDot {
    height: 40px;
    width: 40px;
    background-color: rgb(23, 235, 52);
    border-radius: 50%;
    display: inline-block;
  }

.redDot {
    height: 40px;
    width: 40px;
    background-color: rgb(248, 60, 2);
    border-radius: 50%;
    display: inline-block;
}

.dropdown{
    margin-top: 25px;
}

#sortChange{
    padding-top: 25px;
    padding-bottom: 25px;
}

#fontSize{
    display: inline;
}

.bstn{
    background-color: #ffffff;
    background-color: #ffffff;
    border: none;
    margin-left: 10px;
    color: #0d5257;
    text-decoration-color:
    padding: 15px 32px;
  }
  
  .bstn:hover{
    background-color: #ffffff;
    background-color: #ffffff;
    border: none;
    margin-left: 10px%;
    color: #0d5257;
    text-decoration-color:
    padding: 15px 32px;
  }

#chart{
    max-width: 1000px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    
}
